<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Librerías" data-toc-modified-id="Librerías-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>Librerías</a></span></li><li><span><a href="#Conexión-con-la-base-de-datos" data-toc-modified-id="Conexión-con-la-base-de-datos-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>Conexión con la base de datos</a></span></li><li><span><a href="#Cargar-datos-csv" data-toc-modified-id="Cargar-datos-csv-3"><span class="toc-item-num">3&nbsp;&nbsp;</span>Cargar datos csv</a></span></li><li><span><a href="#Consultar-los-datasets" data-toc-modified-id="Consultar-los-datasets-4"><span class="toc-item-num">4&nbsp;&nbsp;</span>Consultar los datasets</a></span><ul class="toc-item"><li><span><a href="#Commercial-activity" data-toc-modified-id="Commercial-activity-4.1"><span class="toc-item-num">4.1&nbsp;&nbsp;</span>Commercial activity</a></span></li><li><span><a href="#Procuts" data-toc-modified-id="Procuts-4.2"><span class="toc-item-num">4.2&nbsp;&nbsp;</span>Procuts</a></span></li></ul></li><li><span><a href="#Sociodemographic" data-toc-modified-id="Sociodemographic-5"><span class="toc-item-num">5&nbsp;&nbsp;</span>Sociodemographic</a></span></li><li><span><a href="#Transformación-de-los-dataset" data-toc-modified-id="Transformación-de-los-dataset-6"><span class="toc-item-num">6&nbsp;&nbsp;</span>Transformación de los dataset</a></span></li><li><span><a href="#Subir-dataset-a-la-base-de-datos-(pendiente)" data-toc-modified-id="Subir-dataset-a-la-base-de-datos-(pendiente)-7"><span class="toc-item-num">7&nbsp;&nbsp;</span>Subir dataset a la base de datos (pendiente)</a></span></li></ul></div>

## Librerías

In [1]:
from sqlalchemy import create_engine
import sqlalchemy
import mysql
import pandas as pd
from IPython.core.display import display, HTML
import os

## Conexión con la base de datos

Parámetros de la conexión.
- Server Host: 3.143.224.217
- Port: 3306

In [2]:
# cadena de conexión
SQLServer='3.143.224.217'

# instanciamos engine como resultado de create_engine
con = create_engine("mysql+mysqlconnector://"+os.environ['EASYMONEY_USERNAME']+":"+os.environ['EASYMONEY_PASSWORD']+"@"+SQLServer).connect()

In [3]:
# Consultar tablas de la base de datos
query = con.execute('SHOW DATABASES').fetchall()
query

[('information_schema',), ('mysql',), ('performance_schema',)]

## Cargar datos csv

In [4]:
file1 = 'data/raw_data/commercial_activity_df.csv'
file2 = 'data/raw_data/products_df.csv'
file3 = 'data/raw_data/sociodemographic_df.csv'

In [5]:
df_commercial_activity = pd.read_csv(file1, encoding='utf-8-sig', sep=',', index_col=False)
df_products = pd.read_csv(file2, encoding='utf-8-sig', sep=',', index_col=False)
df_sociodemographic = pd.read_csv(file3, encoding='utf-8-sig', sep=',', index_col=False)

## Consultar los datasets

### Commercial activity

In [6]:
df_commercial_activity.head()

,Unnamed: 0,pk_cid,pk_partition,entry_date,entry_channel,active_customer,segment
0,0,1375586,2018-01-28,2018-01-12,KHL,1.0,02 - PARTICULARES
1,1,1050611,2018-01-28,2015-08-10,KHE,0.0,03 - UNIVERSITARIO
2,2,1050612,2018-01-28,2015-08-10,KHE,0.0,03 - UNIVERSITARIO
3,3,1050613,2018-01-28,2015-08-10,KHD,0.0,03 - UNIVERSITARIO
4,4,1050614,2018-01-28,2015-08-10,KHE,1.0,03 - UNIVERSITARIO

In [7]:
df_commercial_activity.columns

Index(['Unnamed: 0', 'pk_cid', 'pk_partition', 'entry_date', 'entry_channel',
       'active_customer', 'segment'],
      dtype='object')

In [8]:
df_commercial_activity.shape

(5962924, 7)

In [9]:
df_commercial_activity.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5962924 entries, 0 to 5962923
Data columns (total 7 columns):
 #   Column           Dtype
---  ------           -----
 0   Unnamed: 0       int64
 1   pk_cid           int64
 2   pk_partition     object
 3   entry_date       object
 4   entry_channel    object
 5   active_customer  float64
 6   segment          object
dtypes: float64(1), int64(2), object(4)
memory usage: 318.5+ MB

In [10]:
df_commercial_activity.describe().T

,count,mean,std,min,25%,50%,75%,max
Unnamed: 0,5962924.0,7.155425e+06,3.920784e+06,0.0,4240385.75,7499346.5,10201422.25,13647308.0
pk_cid,5962924.0,1.234930e+06,1.623020e+05,15891.0,1112532.00,1231097.0,1352339.00,1553689.0
active_customer,5962924.0,4.033845e-01,4.905767e-01,0.0,0.00,0.0,1.00,1.0

### Procuts

In [11]:
df_products.head()

,Unnamed: 0,pk_cid,pk_partition,short_term_deposit,loans,mortgage,funds,securities,long_term_deposit,em_account_pp,credit_card,payroll,pension_plan,payroll_account,emc_account,debit_card,em_account_p,em_acount
0,0,1375586,2018-01-28,0,0,0,0,0,0,0,0,0.0,0.0,0,0,0,0,1
1,1,1050611,2018-01-28,0,0,0,0,0,0,0,0,0.0,0.0,0,0,0,0,1
2,2,1050612,2018-01-28,0,0,0,0,0,0,0,0,0.0,0.0,0,0,0,0,1
3,3,1050613,2018-01-28,1,0,0,0,0,0,0,0,0.0,0.0,0,0,0,0,0
4,4,1050614,2018-01-28,0,0,0,0,0,0,0,0,0.0,0.0,0,0,0,0,1

In [12]:
df_products.columns

Index(['Unnamed: 0', 'pk_cid', 'pk_partition', 'short_term_deposit', 'loans',
       'mortgage', 'funds', 'securities', 'long_term_deposit', 'em_account_pp',
       'credit_card', 'payroll', 'pension_plan', 'payroll_account',
       'emc_account', 'debit_card', 'em_account_p', 'em_acount'],
      dtype='object')

In [13]:
df_products.shape

(5962924, 18)

In [14]:
df_products.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5962924 entries, 0 to 5962923
Data columns (total 18 columns):
 #   Column              Dtype
---  ------              -----
 0   Unnamed: 0          int64
 1   pk_cid              int64
 2   pk_partition        object
 3   short_term_deposit  int64
 4   loans               int64
 5   mortgage            int64
 6   funds               int64
 7   securities          int64
 8   long_term_deposit   int64
 9   em_account_pp       int64
 10  credit_card         int64
 11  payroll             float64
 12  pension_plan        float64
 13  payroll_account     int64
 14  emc_account         int64
 15  debit_card          int64
 16  em_account_p        int64
 17  em_acount           int64
dtypes: float64(2), int64(15), object(1)
memory usage: 818.9+ MB

In [15]:
df_products.describe().T

,count,mean,std,min,25%,50%,75%,max
Unnamed: 0,5962924.0,7.155425e+06,3.920784e+06,0.0,4240385.75,7499346.5,10201422.25,13647308.0
pk_cid,5962924.0,1.234930e+06,1.623020e+05,15891.0,1112532.00,1231097.0,1352339.00,1553689.0
short_term_deposit,5962924.0,2.581619e-03,5.074401e-02,0.0,0.00,0.0,0.00,1.0
loans,5962924.0,7.848498e-05,8.858828e-03,0.0,0.00,0.0,0.00,1.0
mortgage,5962924.0,5.433576e-05,7.371080e-03,0.0,0.00,0.0,0.00,1.0
funds,5962924.0,3.370662e-03,5.795948e-02,0.0,0.00,0.0,0.00,1.0
securities,5962924.0,3.711770e-03,6.081113e-02,0.0,0.00,0.0,0.00,1.0
long_term_deposit,5962924.0,1.688098e-02,1.288255e-01,0.0,0.00,0.0,0.00,1.0
em_account_pp,5962924.0,0.000000e+00,0.000000e+00,0.0,0.00,0.0,0.00,0.0
credit_card,5962924.0,1.188444e-02,1.083660e-01,0.0,0.00,0.0,0.00,1.0
payroll,5962863.0,3.451144e-02,1.825388e-01,0.0,0.00,0.0,0.00,1.0
pension_plan,5962863.0,3.652641e-02,1.875960e-01,0.0,0.00,0.0,0.00,1.0
payroll_account,5962924.0,5.524471e-02,2.284573e-01,0.0,0.00,0.0,0.00,1.0
emc_account,5962924.0,5.483233e-02,2.276527e-01,0.0,0.00,0.0,0.00,1.0
debit_card,5962924.0,9.441140e-02,2.924002e-01,0.0,0.00,0.0,0.00,1.0
em_account_p,5962924.0,5.701901e-06,2.387859e-03,0.0,0.00,0.0,0.00,1.0
em_acount,5962924.0,7.348076e-01,4.414356e-01,0.0,0.00,1.0,1.00,1.0

## Sociodemographic

In [16]:
df_sociodemographic.head()

,Unnamed: 0,pk_cid,pk_partition,country_id,region_code,gender,age,deceased,salary
0,0,1375586,2018-01-28,ES,29.0,H,35,N,87218.10
1,1,1050611,2018-01-28,ES,13.0,V,23,N,35548.74
2,2,1050612,2018-01-28,ES,13.0,V,23,N,122179.11
3,3,1050613,2018-01-28,ES,50.0,H,22,N,119775.54
4,4,1050614,2018-01-28,ES,50.0,V,23,N,NaN

In [17]:
df_products.columns

Index(['Unnamed: 0', 'pk_cid', 'pk_partition', 'short_term_deposit', 'loans',
       'mortgage', 'funds', 'securities', 'long_term_deposit', 'em_account_pp',
       'credit_card', 'payroll', 'pension_plan', 'payroll_account',
       'emc_account', 'debit_card', 'em_account_p', 'em_acount'],
      dtype='object')

In [18]:
df_products.shape

(5962924, 18)

In [19]:
df_products.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5962924 entries, 0 to 5962923
Data columns (total 18 columns):
 #   Column              Dtype
---  ------              -----
 0   Unnamed: 0          int64
 1   pk_cid              int64
 2   pk_partition        object
 3   short_term_deposit  int64
 4   loans               int64
 5   mortgage            int64
 6   funds               int64
 7   securities          int64
 8   long_term_deposit   int64
 9   em_account_pp       int64
 10  credit_card         int64
 11  payroll             float64
 12  pension_plan        float64
 13  payroll_account     int64
 14  emc_account         int64
 15  debit_card          int64
 16  em_account_p        int64
 17  em_acount           int64
dtypes: float64(2), int64(15), object(1)
memory usage: 818.9+ MB

In [20]:
df_products.describe().T

,count,mean,std,min,25%,50%,75%,max
Unnamed: 0,5962924.0,7.155425e+06,3.920784e+06,0.0,4240385.75,7499346.5,10201422.25,13647308.0
pk_cid,5962924.0,1.234930e+06,1.623020e+05,15891.0,1112532.00,1231097.0,1352339.00,1553689.0
short_term_deposit,5962924.0,2.581619e-03,5.074401e-02,0.0,0.00,0.0,0.00,1.0
loans,5962924.0,7.848498e-05,8.858828e-03,0.0,0.00,0.0,0.00,1.0
mortgage,5962924.0,5.433576e-05,7.371080e-03,0.0,0.00,0.0,0.00,1.0
funds,5962924.0,3.370662e-03,5.795948e-02,0.0,0.00,0.0,0.00,1.0
securities,5962924.0,3.711770e-03,6.081113e-02,0.0,0.00,0.0,0.00,1.0
long_term_deposit,5962924.0,1.688098e-02,1.288255e-01,0.0,0.00,0.0,0.00,1.0
em_account_pp,5962924.0,0.000000e+00,0.000000e+00,0.0,0.00,0.0,0.00,0.0
credit_card,5962924.0,1.188444e-02,1.083660e-01,0.0,0.00,0.0,0.00,1.0
payroll,5962863.0,3.451144e-02,1.825388e-01,0.0,0.00,0.0,0.00,1.0
pension_plan,5962863.0,3.652641e-02,1.875960e-01,0.0,0.00,0.0,0.00,1.0
payroll_account,5962924.0,5.524471e-02,2.284573e-01,0.0,0.00,0.0,0.00,1.0
emc_account,5962924.0,5.483233e-02,2.276527e-01,0.0,0.00,0.0,0.00,1.0
debit_card,5962924.0,9.441140e-02,2.924002e-01,0.0,0.00,0.0,0.00,1.0
em_account_p,5962924.0,5.701901e-06,2.387859e-03,0.0,0.00,0.0,0.00,1.0
em_acount,5962924.0,7.348076e-01,4.414356e-01,0.0,0.00,1.0,1.00,1.0

## Transformación de los dataset

- (1) Eliminar columna Unnamed: 0 (se crea por el índice del csv).

In [21]:
def drop_unnamed(df):
    """
    Función que borra la columna "Unnamed: 0" generada automáticamente en la
    lectura del csv en formato DataFrame (si existe).
    
    Args:
        df: DataFrame de trabajo.
        
    Returns:
        df: DataFrame sin la columna Unnamed: 0.
    """
    df = df.copy()
    if 'Unnamed: 0' in df.columns:
        df.drop('Unnamed: 0', axis=1, inplace=True)
        
    return df

In [22]:
df_commercial_activity = drop_unnamed(df_commercial_activity)    
df_products = drop_unnamed(df_products)    
df_sociodemographic = drop_unnamed(df_sociodemographic)

In [23]:
df_commercial_activity.head()

,pk_cid,pk_partition,entry_date,entry_channel,active_customer,segment
0,1375586,2018-01-28,2018-01-12,KHL,1.0,02 - PARTICULARES
1,1050611,2018-01-28,2015-08-10,KHE,0.0,03 - UNIVERSITARIO
2,1050612,2018-01-28,2015-08-10,KHE,0.0,03 - UNIVERSITARIO
3,1050613,2018-01-28,2015-08-10,KHD,0.0,03 - UNIVERSITARIO
4,1050614,2018-01-28,2015-08-10,KHE,1.0,03 - UNIVERSITARIO

In [24]:
df_products.head()

,pk_cid,pk_partition,short_term_deposit,loans,mortgage,funds,securities,long_term_deposit,em_account_pp,credit_card,payroll,pension_plan,payroll_account,emc_account,debit_card,em_account_p,em_acount
0,1375586,2018-01-28,0,0,0,0,0,0,0,0,0.0,0.0,0,0,0,0,1
1,1050611,2018-01-28,0,0,0,0,0,0,0,0,0.0,0.0,0,0,0,0,1
2,1050612,2018-01-28,0,0,0,0,0,0,0,0,0.0,0.0,0,0,0,0,1
3,1050613,2018-01-28,1,0,0,0,0,0,0,0,0.0,0.0,0,0,0,0,0
4,1050614,2018-01-28,0,0,0,0,0,0,0,0,0.0,0.0,0,0,0,0,1

In [25]:
df_sociodemographic.head()

,pk_cid,pk_partition,country_id,region_code,gender,age,deceased,salary
0,1375586,2018-01-28,ES,29.0,H,35,N,87218.10
1,1050611,2018-01-28,ES,13.0,V,23,N,35548.74
2,1050612,2018-01-28,ES,13.0,V,23,N,122179.11
3,1050613,2018-01-28,ES,50.0,H,22,N,119775.54
4,1050614,2018-01-28,ES,50.0,V,23,N,NaN

## Subir dataset a la base de datos (pendiente)

Requerimientos:
- Analizar los datos para conocer como estructurarlos de la mejor forma.
- Crear base de datos (desde DBeaver).

Tablas (por definir):